html,
body,
.root,
.App {
  background-color: #E2F9EE;
  height: 100%;
}

.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
}

.App header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.App body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.DashboardList {
  display: flex;
  flex-direction: column;
  flex-basis: 75%;
  flex-shrink: 0;
}

.App header h1 {
  color: #115E67
}

.Dashboard {
  display: block;
  text-decoration: none;
  color: inherit;
  background-color: white;
  display: flex;
  flex-direction: row;
  margin-top: 24px;
}

.Dashboard .Logo {
  padding: 24px;
  flex-basis: 25%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.Dashboard .Logo.LogoCompany {
  padding: 24px;
  flex-basis: 20%;
}
.Dashboard .Logo img {
  max-width: 100%;
}

.Dashboard .Info {
  padding: 10px;
}

.Dashboard .Info h2 {
  color: #818181
}

.App .ExplainColumn {

}

.App .ExplainColumn {
  background-color: white;
  margin-top: 24px;
}

.App .ExplainColumn article {
  /* background-color: white; */
  margin-top: 10px;
  padding: 24px;
}




/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
